<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>

<ion-menu contentId="main-content" class="in-menu-bar">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end" class="hambuguer-menu-button">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="logo-img-toolbal">
        <div class="todoneo-logo"></div>
      </div>
    </ion-toolbar>
  </ion-header>
  <!-- <div class="line-main">
    <div class="ball"> <p  style="color: #ffffff">1</p></div>
    <div class="line"></div>
    <div class="ball"> <p>2</p></div>
    <div class="line"></div>
    <div class="ball"> <p>3</p></div>
  </div> -->

  <mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Step 1</ng-template>
      <p>This is any content of "Step 1"</p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 2</ng-template>
      <p>This is any content of "Step 2"</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Step 3</ng-template>
      <p>This is any content of "Step 3"</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Finish</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <ion-text class="welcome-text poppins-semibold"
    >Registro</ion-text
  >
  <div class="form-text-normal">
    <ion-text>CPF</ion-text>
    <ion-input class="input-form" aria-label=""></ion-input>

    <div class="form-text-normal" style="margin-top: 0.5em;">
      <ion-text>Telefone</ion-text>
      <ion-input class="input-form" aria-label=""></ion-input>
    </div>

  <div class="form-text-dual-columns">

    <div class="column" style="margin-top: 1.2em;">
        <ion-text>Genêro</ion-text>
        <ion-input class="input-form" aria-label=""></ion-input>
      </div>

      <div class="column">
        <ion-text>Data de nascimento</ion-text>
        <ion-input class="input-form " aria-label=""></ion-input>
      </div>


  </div>

  <div class="form-text-normal">
    <ion-text>CEP</ion-text>
    <ion-input class="input-form" aria-label=""></ion-input>
  </div>

  <div class="form-text-normal">
    <ion-text>Endereco</ion-text>
    <ion-input class="input-form" aria-label=""></ion-input>
  </div>



  <div class="form-text-dual-columns">

    <div class="column">
        <ion-text>Bairro</ion-text>
        <ion-input class="input-form" aria-label=""></ion-input>

      </div>
      <div class="column">


        <ion-text>Número</ion-text>
        <ion-input class="input-form " aria-label=""></ion-input>
      </div>

  </div>



  <div class="form-text-dual-columns">

    <div class="column">
        <ion-text>UF</ion-text>
        <ion-input class="input-form" aria-label=""></ion-input>

      </div>
      <div class="column">


        <ion-text>Município</ion-text>
        <ion-input class="input-form " aria-label=""></ion-input>
      </div>

  </div>

  <div class="form-text-normal">
  <ion-button class="continue-button" expand="block">
    <ion-text class="Roboto-social">Continuar</ion-text>
  </ion-button>

</div>
  </div>

  <ion-content class="ion-padding"> padding </ion-content>
</div>


