@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.Roboto-social{
  font-family: "Roboto";
  font-weight: 500;
  size: 20px;
  margin-top: 1.5%;
  padding-bottom: 1%;
}
.in-menu-bar{
  --ion-background-color: #624343;
}

#main-content{
  background-color: #ffffff;
  --ion-background-color: #ffffff;
  overflow: auto;
}

ion-toolbar {
  --background: #3D31C1;
}
.logo-img-toolbal{
  display: flexbox;
  height:30%;
  width:30%;
  margin: 5%;
}

.hambuguer-menu-button{
 margin: 5%;
}

.welcome-text{
  display: flexbox;
  text-align: center;
  width: 100%;
  height: 12%;
  font-size: 210%;
  color: #505050;

  margin-top: 5%;
  margin-bottom: 5%;
}

ion-button, ion-item {
  --border-color: none;
  --border-width: 0px !important;
  --background: none;
}

// _icons-svg.scss
.icon-svg-google {
  display: flexbox;
  background: url('../../../assets/logos/google.svg') no-repeat;
  height: 50px;
  width: 50px;
  margin: 10% -2% 1%;
}

.todoneo-logo{
  display: flexbox;
  background: url('../../../assets/logos/logo.svg') no-repeat;
  height: 50px;
  width: 105%;
  margin: 15% -2% 1%;
  margin-bottom: -8%;
}

.line-main{

  display: flex;
  align-items: center;
  gap: 0.1em;
  width: 328px;
  margin: 0 auto;
  padding-top: 10%;

  div.ball{
    width: 16em;
    height: 3.5em;
    border-radius: 100%;

    overflow: hidden;
    background-color: #3D31C1;


    p {
      display: flexbox;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 600;
      line-height: 21.09px;
      text-align: center;
      padding-bottom: -10px;

    }
  }

  div.line{
    border-bottom: 3px solid #5E6B7A;
    width: 100%;
    height: 0;
  }

  p{
    font-size: 15px;
    color: #828C97;
  }


}
// .division-bar{
//   font-family: 'Roboto';
//   color: #828C97;
//   display: flex;


// }

// .divider {
//   display: flex;
//   text-align: center;
//   color: #828C97;
//   height: 1px;
//   margin-left: 7%;
//   margin-right: 7%;
// }

// .divider::before, .divider::after {
//   flex: 1;
//   content: '';
//   padding: 3px;
//   background-color: #707C89;
//   margin: 5px;
//   margin-top: 2%;


// }

.form-text-normal{
  color: #505050;
  font-size: 20px;
  margin: 0 auto;
  width: 328px;
  margin-top: 0em;
  margin-bottom: 0.5em;


  ion-input.input-form{
    color: #000000;
    border-radius: 6px;
    margin-top: 0.5em;
    border: 1px solid #000000;
    height: 58px;
  }

  .continue-button {
    margin-top: 2em;
    font-weight: 500;
    font-size: 18px;
    background-color: #3D31C1;
    color: #ffffff;
    border-radius: 16px;
    width: 331px;
    height: 58px;

  }
}


.form-text-dual-columns{
  display: flex;

  gap: 1em;
  color: #505050;
  font-size: 20px;
  margin: 0 auto;
  width: 328px;
  margin-top: 0em;
  margin-bottom: 0.5em;


  ion-input.input-form{
    color: #000000;
    border-radius: 6px;
    border: 1px solid #000000;
    height: 2.8em;
    align-items: center;
  }



}

.refoward-register{

  text-align: center;
  font-size: 14px;
  margin-top: 1em;
  a.reforward-password{
    font-weight: 500;
  }
  a{
    color: #3D31C1;
    text-decoration: none;

  }

  a.register{
    font-weight: 500;
    font-size: 14px;
  }




}









