ion-toolbar {
  --background: #3D31C1;
}
ion-content.todoneo-logo{
  display: flexbox;
  --background: url('../../../assets/logos/logo.svg') no-repeat;
  height: 4em;
  width: 6.5em;
  margin: 15% -2% 1%;
  margin-bottom: -8%;
  --overflow-y: 0;
}

.logo-img-toolbal{
  display: flexbox;
  height:4.5em;
  width:0.5em;
  margin: 5%;
}

.hambuguer-menu-button{
 margin: 5%;
 color: #ffffff;
}
